/* Dropdown Button */
.mySelect {
  background-color: #f6f6f6;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.mySelect:hover,
.mySelect:focus {
  background-color: #c6c6c6;
}

/* Links inside the dropdown */
.myOption {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  min-width: 230px;
  background-color: #ffffff;
}

/* Change color of dropdown links on hover */
.option:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
